<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <header>
        <div class="wrapper">
            <%- include('./partials/header') %>
        </div>
    </header>
    <div class="wrapper">
        <div class="wrapper post">
            <div class="posts__item">
                <%if(post){%>
                    <div class="posts__info">
                        <span class="posts__date"><%= post.createdAt.toLocaleDateString("pl-PL") %></span>
                        <span class="posts__author"><%= post.usermail %></span>
                    </div>
                    <div class="posts__header">
                        <h3><%= post.header %></h3>
                    </div>
                    <div class="posts__content"><%= post.content %></div>
                <%}%>
            </div>
        </div>
    </div>
    <footer>
        <div class="wrapper">
            <%- include('./partials/footer') %>
        </div>
    </footer>
</body>
</html>